<head>
  <meta charset="utf-8">
  <title>Stock Look Up</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
  <link rel="stylesheet" href="/css/stocks.css">
</head>
