<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Price Lookup</title>
    <link rel="stylesheet" href="/css/stocks.css">
  </head>
  <body>
    <h1>Look Up A Stock Price</h1>
    <form action="/info">
      <label>
        Stock Symbol:
        <input type="search" name="symbol" placeholder="GOOG" required autofocus>
      </label>
      <input type="submit" value="Go">
    </form>
  </body>
</html>
