<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/nav.ejs') %>
    <form action="/info">
      <label>
        Stock Symbol:
        <input type="search" name="symbol" placeholder="GOOG" required autofocus>
      </label>
      <input type="submit" value="Go">
    </form>
  </body>
</html>
