<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock Look Up</title>
    <link rel="stylesheet" href="/css/stocks.css">
  </head>
  <body>
    <p>
      <%= symbol %> last traded at $<%= quotes[0].lastSalePrice %>
    </p>
  </body>
</html>
