<h1>My Cool Blog About My Feelings</h1>

<div class="post">
  <h2>First Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores officiis voluptates eos repudiandae, autem praesentium pariatur soluta deleniti enim neque quam molestias rem quae est voluptatum nobis, ad perspiciatis!</p>
    <p>Blanditiis debitis, consectetur. Ut et vitae voluptas quo, inventore sunt optio maiores tempora ea, deleniti! Nobis magnam laborum sequi perferendis corporis aut! Sint ipsam facilis, omnis, laudantium dicta veritatis perferendis.</p>
  </div>
</div>

<div class="post">
  <h2>Second Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores officiis voluptates eos repudiandae, autem praesentium pariatur soluta deleniti enim neque quam molestias rem quae est voluptatum nobis, ad perspiciatis!</p>
    <p>Blanditiis debitis, consectetur. Ut et vitae voluptas quo, inventore sunt optio maiores tempora ea, deleniti! Nobis magnam laborum sequi perferendis corporis aut! Sint ipsam facilis, omnis, laudantium dicta veritatis perferendis.</p>
  </div>
</div>

<div class="post">
  <h2>Third Post</h2>
  <h3 class="author">Some Author</h3>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores officiis voluptates eos repudiandae, autem praesentium pariatur soluta deleniti enim neque quam molestias rem quae est voluptatum nobis, ad perspiciatis!</p>
    <p>Blanditiis debitis, consectetur. Ut et vitae voluptas quo, inventore sunt optio maiores tempora ea, deleniti! Nobis magnam laborum sequi perferendis corporis aut! Sint ipsam facilis, omnis, laudantium dicta veritatis perferendis.</p>
  </div>
</div>

<hr><!-- horizontal rule -->

<div class="notification">
  This is a notification
</div>


<div class="error">
  There was error
</div>


<div class="success">
  There was success
</div>
