<h1>Welcome to Tunr</h1>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>WORLD IN GRIP OF CORONAVIRUS PANDEMIC</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h2>Trump assassinated</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione molestiae ducimus cumque deserunt iure nam accusantium, eos autem, repellendus consectetur, nisi excepturi asperiores. Dolor, fugit. Sequi facilis sunt voluptates! Vero!</p>
  </div>

  <div class="col-md-6">
    <h2>Corona pandemic might affect stock markets</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nihil quo neque nisi ea aperiam maiores obcaecati minus quae ipsa maxime, quam, sequi voluptatem! Nihil vero saepe laborum aliquam dolore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum veniam nemo fugiat perspiciatis, quia id voluptates optio neque laudantium, culpa temporibus autem saepe, voluptatem amet necessitatibus ipsa vel velit tenetur.</p>
  </div>

  <div class="col-md-3">
    <h2>Royal family actually lizards</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi debitis aspernatur non omnis laboriosam maiores reiciendis eos dicta sed assumenda ab, ratione optio, autem earum, beatae adipisci nemo aliquam pariatur.</p>
  </div>
</div>
