<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Crappy Calculator Site</title>
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>

  <!-- before yield -->
  <%= yield %>
  <!-- after yield -->
</body>
</html>
