body {
  min-height: 300vh;
  background-image: url(http://www.placekitten.com/1024/1025);
  background-size: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-size: 140%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1em;
}

.bill-css {
  background-image: url(http://www.fillmurray.com/900/1200);
  min-height: 10em;
  background-attachment: fixed;
  display: none; /* just to get this out of the way */
}

.bill-js {
  background-image: url(http://www.fillmurray.com/900/1200);
  min-height: 10em;
  background-size: cover;
}

.bubble {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 1px solid blue;
  border-radius: 100%;
}
